{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block header %}{% endblock %}

{% block content %}

<div class="container">
  <div class="header">
    <h2>{{ match }}</h2>
    <div class="timer">
      <h3>Time: <span id="timer-display">00:00</span></h3>
      <button id="pause-btn">Pause</button>
      <button id="resume-btn">Resume</button>
      <button id="reset-btn">Reset</button>
    </div>
  </div>

  <div class="panels">
    <!-- Panel 1: Attempt to Goal -->
    <div id="attempt-panel">
      {% include "tagging_app/attempt_to_goal_enter_data.html" %}
    </div>

    <!-- Panel 2: Pass Network -->
    <div id="pass-panel">
      {% include "tagging_app/pass_network_enter_data.html" %}
    </div>
  </div>
</div>


{% endblock %}

