
.stats-container {
    display: flex;
    align-items: flex-start;
    gap: 30px; /* space between form and table */
}

.filter-form {
    flex: 0 0 250px; /* fixed width */
}

.filter-form form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.stats-table {
    flex: 1; /* takes remaining space */
}

form label {
    font-weight: bold;
    margin-right: 5px;
    color: #333;
}

form select {
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    min-width: 180px;
}

/* Table Styles */
table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.05);
}

thead {
    background-color: #007BFF;
    color: #fff;
}

th, td {
    padding: 14px 18px;
    text-align: center;
    font-size: 15px;
}

tbody tr:nth-child(even) {
    background-color: #f2f6fc;
}

tbody tr:hover {
    background-color: rgb(246, 246, 249);
}
