{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale1.0"/>
    <title>All Players</title>
    <link rel="stylesheet" href="{% static 'stats/css/player.css' %}">
</head>
<body>
    <div class="container">
        <header>
            <h1>Our Squad</h1>
            <a href="{% url 'players_statistics' %}">Players Statistics</a>
        </header>

        <div class="players-grid">
            {% for player in players %}
                <a href="{% url 'player_detail' player.id %}" class="player-card">
                    <img src="{{ player.photo.url }}" alt="{{ player.name }}">
                    <h3>{{ player.name }}</h3>
                    <p>{{ player.position }}</p>
                </a>
            {% endfor %}
        </div>
    </div>
</body>
</html>
