# Python environment
ps_env/
__pycache__/
*.pyc
*.pyo
*.pyd

# Django-related
db.sqlite3
*.sqlite3
/media/

# Logs and temporary files
tmp/
*.log

# Deployment-specific
Passengerfile.json
passenger_wsgi.py

player_statistics_project/settings.py
