

<!-- <link rel="stylesheet" href="{% static 'gps_app/css/gps.css' %}">-->


<div class="container my-4">

  {% if records %}
    <div class="table-responsive" >
      <table class="table table-striped table-bordered table-hover table-sm align-middle">
        <thead>
          <tr>
            <th>Player</th>
            <th>Player Name</th>
            <th>Period Name</th>
            <th>Period Number</th>
            <th>Max Acceleration</th>
            <th>Max Deceleration</th>
            <th>Acceleration Efforts</th>
            <th>Deceleration Efforts</th>
            <th>Accel + Decel Efforts</th>
            <th>Accel + Decel Efforts Per Minute</th>
            <th>Duration</th>
            <th>Distance</th>
            <th>Player Load</th>
            <th>Max Velocity</th>
            <th>Max Vel (% Max)</th>
            <th>Meterage Per Minute</th>
            <th>Player Load Per Minute</th>
            <th>Work/Rest Ratio</th>
            <th>Max Heart Rate</th>
            <th>Avg Heart Rate</th>
            <th>Max HR (% Max)</th>
            <th>Avg HR (% Max)</th>
            <th>HR Exertion</th>
            <th>Red Zone</th>
            <th>Heart Rate Band 1 Duration</th>
            <th>Heart Rate Band 2 Duration</th>
            <th>Heart Rate Band 3 Duration</th>
            <th>Heart Rate Band 4 Duration</th>
            <th>Heart Rate Band 5 Duration</th>
            <th>Heart Rate Band 6 Duration</th>
            <th>Energy</th>
            <th>High Metabolic Load Distance</th>
            <th>Standing Distance</th>
            <th>Walking Distance</th>
            <th>Jogging Distance</th>
            <th>Running Distance</th>
            <th>HI Distance</th>
            <th>Sprint Distance</th>
            <th>Sprint Efforts</th>
            <th>Sprint Dist Per Min</th>
            <th>High Speed Distance</th>
            <th>High Speed Efforts</th>
            <th>High Speed Distance Per Minute</th>
            <th>Impacts</th>
            <th>Athlete Tags</th>
            <th>Activity Tags</th>
            <th>Game Tags</th>
            <th>Athlete Participation Tags</th>
            <th>Period Tags</th>
          </tr>
        </thead>
        <tbody>
          {% for r in records %}
            <tr>
              <td class="d-flex align-items-center justify-content-center gap-2">
                <a href="{% url 'players_app:player_match_detail' r.player.id match.id %}">
                  {% if r.player.photo %}
                    <img src="{{ r.player.photo.url }}" alt="{{ r.player.full_name }}" class="player-photo">
                  {% else %}
                    <div style="width: 32px; height: 32px; background: #ccc; border-radius: 50%;"></div>
                  {% endif %}
                </a>
              </td>
              <td>
                <a href="{% url 'players_app:player_match_detail' r.player.id match.id %}" class="player-link" title="{{ r.player.name }}">
                  {{ r.player.name|slice:":7" }}{% if r.player.name|length > 7 %}...{% endif %}
                </a>
              </td>
              <td>{{ r.period_name }}</td>
              <td>{{ r.period_number }}</td>
              <td>{{ r.max_acceleration }}</td>
              <td>{{ r.max_deceleration }}</td>
              <td>{{ r.acceleration_efforts }}</td>
              <td>{{ r.deceleration_efforts }}</td>
              <td>{{ r.accel_decel_efforts }}</td>
              <td>{{ r.accel_decel_efforts_per_minute }}</td>
              <td>{{ r.duration }}</td>
              <td>{{ r.distance }}</td>
              <td>{{ r.player_load }}</td>
              <td>{{ r.max_velocity }}</td>
              <td>{{ r.max_vel_percent_max }}</td>
              <td>{{ r.meterage_per_minute }}</td>
              <td>{{ r.player_load_per_minute }}</td>
              <td>{{ r.work_rest_ratio }}</td>
              <td>{{ r.max_heart_rate }}</td>
              <td>{{ r.avg_heart_rate }}</td>
              <td>{{ r.max_hr_percent_max }}</td>
              <td>{{ r.avg_hr_percent_max }}</td>
              <td>{{ r.hr_exertion }}</td>
              <td>{{ r.red_zone }}</td>
              <td>{{ r.heart_rate_band_1_duration }}</td>
              <td>{{ r.heart_rate_band_2_duration }}</td>
              <td>{{ r.heart_rate_band_3_duration }}</td>
              <td>{{ r.heart_rate_band_4_duration }}</td>
              <td>{{ r.heart_rate_band_5_duration }}</td>
              <td>{{ r.heart_rate_band_6_duration }}</td>
              <td>{{ r.energy }}</td>
              <td>{{ r.high_metabolic_load_distance }}</td>
              <td>{{ r.standing_distance }}</td>
              <td>{{ r.walking_distance }}</td>
              <td>{{ r.jogging_distance }}</td>
              <td>{{ r.running_distance }}</td>
              <td>{{ r.hi_distance }}</td>
              <td>{{ r.sprint_distance }}</td>
              <td>{{ r.sprint_efforts }}</td>
              <td>{{ r.sprint_dist_per_min }}</td>
              <td>{{ r.high_speed_distance }}</td>
              <td>{{ r.high_speed_efforts }}</td>
              <td>{{ r.high_speed_distance_per_minute }}</td>
              <td>{{ r.impacts }}</td>
              <td>{{ r.athlete_tags }}</td>
              <td>{{ r.activity_tags }}</td>
              <td>{{ r.game_tags }}</td>
              <td>{{ r.athlete_participation_tags }}</td>
              <td>{{ r.period_tags }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% include 'gps_app/gps_position_detail.html' %}
  {% else %}
    <p class="alert alert-warning">No GPS data available for this match.</p>
      {% if team %}
        <p><a href="{% url 'gps_app:gps_data' match.id %}" class="btn btn-primary">Upload CSV file</a></p>
      {% else %}
        <p class="alert alert-info">Team not available.</p>
      {% endif %}
  {% endif %}

</div>






