<!DOCTYPE html>
<html lang="en">

    <haed>
        <meta charset="UTF-8">
        <title>GPS Dashboard - {{ match }}</title>

        <style>
            body { font-family: Arial, sans-serif; margin: 40px; }
            h1 { text-align: center; }
            table { width: 100%; border-collapse: collapse; margin-top: 20px; }
            th, td { border: 1px solid #ccc; padding: 8px; text-align: center;}
            th { background: #f2f2f2; }

        </style>
        
    </haed>
    <body>
        <h1>{{ match.home_team.name }} vs {{ match.away_team.name }}</h1>
        <p><strong>Date:</strong>{{ match.date }}</p>

        <table>
            <thead>
                <tr>
                    <th>Player</th>
                    <th>Total Distance</th>
                    <th>High Speed distance</th>
                    <th>Top Speed (km/h)</th>
                </tr>

            </thead>
            <tbody>
                {% for records in gps_records %}
                <tr>
                    <td>{{ record.player.name }}</td>
                    <td>{{ record.total_distance }}</td>
                    <td>{{ record.high_speed_distance }}</td>
                    <td>{{ record.top_speed }}</td>
                    <td></td>
                </tr>
                {% endfor %}

            </tbody>

        </table>


        <!-- optional chart images (base64-encoded passed from view or JS) -->
        {% if chart_image %}
            <img src="data:image/png;base64,{{ chart_image }}" alt="Radar Chart" style="width:100%; margin-top: 20px;">
        {% endif %}

    </body>



</html>