{% extends "player_base.html" %}
{% load static %}
{% load player_extras %}

{% block title %}{{ team_selected }} Players{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'players_app/css/player.css' %}">

<div class="players-page">
    <h1 class="team-title">{{ team_selected }}</h1>

    {% for position in position_order %}
        {% with players_in_position=grouped_players|get_item:position %}
            {% if players_in_position %}
                <h2 class="position-header">{{ position|upper }}S</h2>

                <div class="player-list">
                    {% for player in players_in_position %}
                        <a href="{% url 'players_app:player_detail' player.id %}" class="player-row">
                            <div class="player-image">
                                <img src="{{ player.photo.url }}" alt="{{ player.name }}">
                            </div>
                            <div class="player-details">
                                <div class="player-info">
                                    <span class="player-name">{{ player.name }}</span>
                                    <span class="player-number">{{ player.jersey_number }}</span>
                                </div>
                                <div class="player-flag">
                                    <img src="{% static 'players_app/images/tanzania-flag.png' %}" alt="Tanzania Flag">
                                    <span>Tanzania</span>
                                </div>
                            </div>
                        </a>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
    {% endfor %}
</div>
{% endblock %}
