{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'teams_app/css/team_tabs.css' %}">
{% endblock %}

{% block content %}
    <div class="header">
        <h1 class="team-title">TEAMS</h1>
    </div>

    <nav class="team-tabs">
        <a href="{% url 'teams_app:team_squad' team_selected %}" class="{% if active_tab == 'squad' %}active{% endif %}">SQUAD</a>
        <a href="{% url 'teams_app:team_table' team_selected %}" class="{% if active_tab == 'table' %}active{% endif %}">TABLE</a>
        <a href="{% url 'teams_app:team_statistics' team_selected %}" class="{% if active_tab == 'statistics' %}active{% endif %}">STATISTICS</a>
        <a href="{% url 'teams_app:team_honour' team_selected %}" class="{% if active_tab == 'honour' %}active{% endif %}">HONOURS</a>
    </nav>

    <div class="tab-content">
        {% block team_content %}{% endblock %}
    </div>
{% endblock %}
