{% load static %}
<link rel="stylesheet" href="{% static 'matches_app/css/lineup.css' %}">

<div class="lineup-wrapper">
  <div class="pitch">
    {% for stat in player_stats %}
      {% if stat.is_starting %}
        <div class="player player-{{ stat.position }}">
          <img src="{{ stat.player.photo.url }}" alt="{{ stat.player.name }}">
          <div class="player-name">{{ stat.player.name|upper }}</div>
        </div>
      {% endif %}
    {% endfor %}
    <div class="club-logo">
      <img src="{% static 'matches_app/img/azam_logo.png' %}" alt="Club Logo">
    </div>
  </div>

  <div class="subs-panel">
    <h3>SUBS:</h3>
    <ul>
      {% for stat in player_stats %}
        {% if not stat.is_starting %}
          <li>{{ stat.player.jersey_number }} {{ stat.player.name }}</li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</div>
