<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Full Report</title>
    <style>
        .page-break {
            page-break-before: always;
        }
    </style>
</head>
<body>
    {% block report_content %}

    <div>{% include "tagging_app/reports/table_of_contents.html" %}</div>
    <div class="page-break"></div>

    <div class="post-match-summary"> {% include "reports_app/intro_pages/post_match_summary.html" %}</div>
    <div class="page-break"></div>

    <div class="match-summary">{% include "tagging_app/reports/match_summary3.html" %}</div>
    <div class="page-break"></div>

    <div class="match-summary-stats">{% include "tagging_app/output/summary_key_statistics.html" %}</div>
    <div class="page-break"></div>

    <div class="in-possession">{% include "reports_app/intro_pages/in_possession.html" %}</div>
    <div class="page-break"></div>

    <div class="pass-network-dashboard">{% include "tagging_app/pass_network_dashboard.html" %}</div>
    <div class="page-break"></div>

    <div class="attempt-to-goal-dashboard">{% include "tagging_app/attempt_to_goal_dashboard.html" %}</div>
    <div class="page-break"></div>

    <div class="out-of-possession">{% include "reports_app/intro_pages/out_of_possession.html" %}</div>
    <div class="page-break"></div>

    <div class="goalkeeping">{% include "reports_app/intro_pages/goalkeeping.html" %}</div>
    <div class="page-break"></div>

    <div class="set-plays">{% include "reports_app/intro_pages/set_plays.html" %}</div>
    <div class="page-break"></div>

    <div class="individual-in-possession">{% include "reports_app/intro_pages/individual_in_possession.html" %}</div>
    <div class="page-break"></div>

    <div class="match-summary-stats">{% include "matches_app/partials/stats.html" %}</div>
    <div class="page-break"></div>

    <div class="individual-out-of-possession">{% include "reports_app/intro_pages/individual_out_of_possession.html" %}</div>
    <div class="page-break"></div>

    <div class="individual-physical">{% include "reports_app/intro_pages/individual_physical.html" %}</div>
    <div class="page-break"></div>

    <div class="gps-match-detail">{% include "gps_app/gps_match_detail.html" %}</div>

    {% endblock %}
</body>
</html>
