{% extends "base.html" %}
{% block content %}
    <div class="competition-dashboard">

        <!-- COMPETITION HEADER -->
        <div class="competition-header">
            <div>
                <p>COMPETITION</p>
                <h1>{{ competition_season.competition.name }}</h1>
                <h2>{{ competition_season.season }}</h2>
            </div>
        </div>

        <!-- COMPETITION NAVIGATION -->
        <nav class="competition-navigation">
            <a href="{% url 'matches_app:competition_season_dashboard' competition_season.id %}">Overview</a>
            <a href="{% url 'matches_app:competition_season_fixtures' competition_season.id %}">Fixtures</a>
            <a href="{% url 'matches_app:competition_season_results' competition_season.id %}">Results</a>
            <a href="{% url 'matches_app:competition_season_standings' competition_season.id %}">Standing</a>
            <a href="{% url 'matches_app:competition_season_teams' competition_season.id %}">Teams</a>
            <a href="{% url 'matches_app:competition_season_rules' competition_season.id %}">Rules</a>
            <a href="{% url 'matches_app:competition_season_goal_scorers' competition_season.id %}">Goal Scorers</a>
            <!--<a href="#">Match Data</a>
            <a href="#">Player Statistics</a>-->
        </nav>

        <!-- PAGE CONTENT -->
        {% block competition_content %}
        {% endblock %}

    </div>
{% endblock %}