<h1>Highlights</h1>

{% for h in highlights %}

<div style="border:1px solid #ccc; padding:10px; margin:10px;">

    <h3>{{ h.name }}</h3>

    <p>Status: {{ h.status }}</p>

    <a href="{% url 'library_app:generate_reel' h.id %}">
        Generate
    </a>

    |

    <a href="{% url 'library_app:view_highlight' h.id %}">
        View
    </a>

    |

    <a href="{% url 'library_app:delete_highlight' h.id %}">
        Delete
    </a>

</div>

{% empty %}

<p>No highlights yet.</p>

{% endfor %}