{% load static %}
{% block title %}{{ player.name }}{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'players_app/css/player.css' %}">

<div class="player-profile-container">

    <!-- Centered Player Image -->
    <div class="player-photo-centered">
        <img src="{{ player.photo.url }}" alt="{{ player.name }}">
    </div>

    <!-- Attributes Grid -->
    <div class="player-attributes-grid">
        <div class="attribute-block">
            <p class="label">Position</p>
            <p class="value blue-text">{{ player.position }}</p>
        </div>
        <div class="attribute-block">
            <p class="label">Shirt</p>
            <p class="value blue-text">{{ player.jersey_number }}</p>
        </div>
        <div class="attribute-block">
            <p class="label">Birthdate</p>
            <p class="value blue-text">{{ player.birthdate }}</p>
        </div>
        <div class="attribute-block">
            <p class="label">Height</p>
            <p class="value blue-text">{{ player.height }} cm</p>
        </div>
        <div class="attribute-block">
            <p class="label">Weight</p>
            <p class="value blue-text">{{ player.weight }} kg</p>
        </div>
        <div class="attribute-block">
            <p class="label">Preferred Foot</p>
            <p class="value blue-text">{{ player.foot_preference }}</p>
        </div>
    </div>

    {% include "matches_app/player_timeline.html" %}
</div>
{% endblock %}
