{% load static %}

{% block title %}{{ player.name }}{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'players_app/css/player.css' %}">

<div class="player-profile-container">

    <!-- Player Image -->
    <div class="player-photo-centered">
        <img src="{{ player.photo.url }}" alt="{{ player.name }}">
    </div>

    <!-- Player Details in 2 rows of 3 columns -->
    <div class="player-attributes">
        <div class="info-row">
            <div class="info-block">
                <h4>Position</h4>
                <div>{{ player.position }}</div>
            </div>
            <div class="info-block">
                <h4>Jersey</h4>
                <div>{{ player.jersey_number }}</div>
            </div>
            <div class="info-block">
                <h4>Age</h4>
                <div>{{ player.birthdate }}</div>
            </div>
        </div>
        <div class="info-row">
            <div class="info-block">
                <h4>Height</h4>
                <div>{{ player.height }}</div>
            </div>
            <div class="info-block">
                <h4>Weight</h4>
                <div>{{ player.weight }}</div>
            </div>
            <div class="info-block">
                <h4>Foot</h4>
                <div>{{ player.foot_preference }}</div>
            </div>
        </div>
    </div>

    {% include "matches_app/player_timeline.html" %}

</div>
{% endblock %}




