{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Tabs -->
<div class="tabs">
    <a href="?tab=info" class="{% if active_tab == 'info' %}active{% endif %}">Info</a>
    <a href="?tab=summary" class="{% if active_tab == 'summary' %}active{% endif %}">Summary</a>
    <a href="?tab=stats" class="{% if active_tab == 'stats' %}active{% endif %}">Stats</a>
    <a href="?tab=lineup" class="{% if active_tab == 'lineup' %}active{% endif %}">Line-up</a>
    <a href="?tab=h2h" class="{% if active_tab == 'h2h' %}active{% endif %}">H2H</a>
</div>

<!-- Match Header -->
<div style="text-align:center; margin-bottom:20px;">
    <h3>{{ match.home_team.name }} {{ match.home_team_goals }} - {{ match.away_team_goals }} {{ match.away_team.name }}</h3>
    <div>{{ match.date }} | {{ match.venue }} | {{ match.get_competition_type_display }}</div>
    <p>{{ match.home_team.name }} formation: 4-4-2</p>
</div>

<!-- Pitch -->

<div class="pitch">
    {% for player in home_lineup %}
        <div class="player" style="top:{{ player.top }}%; left:{{ player.left }}%;">
            <div class="circle">{{ player.number }}</div>
            <div class="name">{{ player.name }}</div>
        </div>
    {% endfor %}
</div>


<style>
/* Tabs Styling */
.tabs {
    display: flex;
    border-bottom: 2px solid #ccc;
    margin-bottom: 15px;
}
.tabs a {
    padding: 10px 20px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.tabs a.active {
    border-bottom: 3px solid orange;
}

/* Pitch Styling */


.pitch {
    position: relative;
    width: 100%;
    aspect-ratio: 7 / 5; /* keeps proportions */
    background: url("{% static 'images/picha-2.JPG' %}") center/cover no-repeat;
    margin: auto;
    border: 2px solid #333;
    border-radius: 5px;
}


.player {
    position: absolute;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-size: 12px;
    font-weight: bold;
}


.circle {
    width: 38px;
    height: 38px;
    background: #111;
    color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    font-size: 13px;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0,0,0,0.4);
}


.name {
    margin-top: 4px;
    font-size: 11px;
}
</style>

{% endblock %}
