{% load static %}
{% load form_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'accounts_app/css/login.css' %}">
</head>
<body>
    <div class="login-box">
        <form method="post">
            {% csrf_token %}

            {% if form.non_field_errors %}
                <div class="login-error">
                    {{ form.non_field_errors.0 }}
                </div>
            {% endif %}
            
            <div class="form-group">
                {{ form.username|add_class:"input-field" }}
            </div>
            <div class="form-group">
                {{ form.password|add_class:"input-field" }}
            </div>
            <button type="submit">Login</button>
        </form>
    </div>
</body>
</html>
