<tr class="player-row">

    <td class="row-number">{{ row_number }}</td>
    <td class="photo-column">
        {% if player.photo %}
            <img
                src="{{ player.photo.url }}"
                alt="{{ player.full_name }}"
                class="player-photo">
        {% else %}
            <img
                src="{% static 'players_app/images/default-player.png' %}"
                alt="Default player"
                class="player-photo">
        {% endif %}
    </td>
    <td class="player-name"><a href="{% url 'players_app:player_detail' player.id %}">{{ player.full_name }}</a></td>
    <td class="age">
        {% if show_age %}
            {{ player.age_using_birthdate|default:"-" }}
        {% else %}
            -
        {% endif %}
    </td>
    <td>{{ player.current_measurement.height }}</td>
    <td>{{ player.current_measurement.weight }}</td>
    <td>{{ player.nationality }}</td>
    <td class="position">{{ player.position }}</td>
    <td class="specific-position">{{ player.specific_position|default:"-" }}</td>
    <td class="jersey-number">{{ player.jersey_number }}</td>

</tr>
